.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 2rem;
}
